table,thead,tbody,th,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}
td{
    padding: 6px;
    background-color: yellowgreen;
}
th{
    background-color: brown;
}